*__pycache__

.vscode/*
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
*.iws

codesearch/preproc/buckwheat_output/*
!codesearch/preproc/buckwheat_output/.gitkeep

*/buckwheat/identifiers_extractor/parsers/build/*
!*/buckwheat/identifiers_extractor/parsers/build/.gitkeep
*/buckwheat/identifiers_extractor/language_recognition/build/*
!*/buckwheat/identifiers_extractor/language_recognition/build/.gitkeep
*/buckwheat/identifiers_extractor/tests/test_results/