*__pycache__

.vscode/*

codesearch/preproc/buckwheat_output/*
!codesearch/preproc/buckwheat_output/.gitkeep

*/buckwheat/identifiers_extractor/parsers/build/*
!*/buckwheat/identifiers_extractor/parsers/build/.gitkeep
*/buckwheat/identifiers_extractor/language_recognition/build/*
!*/buckwheat/identifiers_extractor/language_recognition/build/.gitkeep
codesearch/preproc/result.json
